Repository Cleopha/ifttt-like, pull requests merged in 2022-02, with the labels that each got.

#8 Add CRUD function to task and workflow
  backend/protos-ts/workflow/task.ts
  backend/workflowAPI/package.json
  backend/workflowAPI/src/app.module.ts
  backend/workflowAPI/src/task/task.module.ts
  backend/workflowAPI/src/task/task.service.ts
  backend/workflowAPI/src/workflow/workflow.module.ts
  backend/workflowAPI/src/workflow/workflow.service.ts
Labels: enhancement, backend/workflow-api

#17 Improve import in workflow API
  backend/protos-ts/workflow/google/protobuf/empty.ts
  backend/protos-ts/workflow/google/protobuf/struct.ts
  backend/protos-ts/workflow/task.ts
  backend/workflowAPI/package.json
  backend/workflowAPI/src/app.module.ts
  backend/workflowAPI/src/config/index.ts
  backend/workflowAPI/src/exception/index.ts
  backend/workflowAPI/src/logger/index.ts
  backend/workflowAPI/src/main.ts
  backend/workflowAPI/src/protos/index.ts
  backend/workflowAPI/src/task/index.ts
  backend/workflowAPI/src/task/task.controller.ts
  backend/workflowAPI/src/task/task.convertor.ts
  backend/workflowAPI/src/task/task.module.ts
  backend/workflowAPI/src/task/task.service.ts
  backend/workflowAPI/src/workflow/index.ts
  backend/workflowAPI/src/workflow/workflow.controller.ts
  backend/workflowAPI/src/workflow/workflow.module.ts
  backend/workflowAPI/src/workflow/workflow.service.ts
  backend/workflowAPI/tsconfig.json
  backend/workflowAPI/yarn.lock
Labels: enhancement, backend/workflow-api

#24 Fix permission error on logout
  backend/userAPI/src/auth/auth.guard.ts
  backend/userAPI/test/postman/User-API-collection.json
Labels: bug, backend/user

#23 Add tags to swagger
  backend/userAPI/src/app.doc.ts
  backend/userAPI/src/auth/auth.controller.ts
  backend/userAPI/src/user/user.controller.ts
  backend/userAPI/src/workflow/workflow.controller.ts
Labels: documentation, backend/user

#26 Fix catch exception handling
  backend/protos-ts/workflow/workflow.ts
  backend/workflowAPI/src/exception/catch.exception.ts
  backend/workflowAPI/src/task/task.controller.ts
  backend/workflowAPI/src/workflow/workflow.controller.ts
  backend/workflowAPI/src/workflow/workflow.service.ts
Labels: bug, backend/workflow-api

#27 Update symlink to be relative
  .gitignore
  backend/userAPI/util
  backend/workflowAPI/util
Labels: bug

#35 Add credential protobuf
  protos/Dockerfile
  protos/credential.proto
  protos/nginx.conf
Labels: enhancement, backend/credential-api

#36 Initialize credentialAPI service
  .env.example
  .github/workflows/backend-ci.yml
  .github/workflows/build.yml
  backend/credentialAPI/.env.example
  backend/credentialAPI/.eslintrc.js
  backend/credentialAPI/.gitignore
  backend/credentialAPI/.prettierrc
  backend/credentialAPI/Dockerfile
  backend/credentialAPI/README.md
  backend/credentialAPI/docker-compose.dev.yaml
  backend/credentialAPI/nest-cli.json
  backend/credentialAPI/package.json
  backend/credentialAPI/prisma/migrations/20220214225320_credential/migration.sql
  backend/credentialAPI/prisma/migrations/migration_lock.toml
  backend/credentialAPI/prisma/schema.prisma
  backend/credentialAPI/src/app.module.ts
  backend/credentialAPI/src/config/config.data.ts
  backend/credentialAPI/src/config/config.module.ts
  backend/credentialAPI/src/config/index.ts
  backend/credentialAPI/src/main.ts
  backend/credentialAPI/src/prisma/index.ts
  backend/credentialAPI/src/prisma/prisma.module.ts
  backend/credentialAPI/src/prisma/prisma.service.ts
  backend/credentialAPI/src/protos/credential
  backend/credentialAPI/src/protos/credential.proto
  backend/credentialAPI/src/protos/index.ts
  backend/credentialAPI/test/app.e2e-spec.ts
  backend/credentialAPI/test/jest-e2e.json
  backend/credentialAPI/tsconfig.build.json
  backend/credentialAPI/tsconfig.json
  backend/credentialAPI/util
  backend/credentialAPI/yarn.lock
  backend/protos-ts/credential.proto
  backend/protos-ts/credential/credential.ts
  backend/protos-ts/credential/google/protobuf/empty.ts
  backend/protos-ts/gen.sh
  docker-compose.yml
Labels: enhancement, backend, backend/credential-api

#30 Add obelix linter job
  .github/workflows/lint.yml
Labels: ci

#38 Implement credentialAPI rpc methods
  backend/credentialAPI/package.json
  backend/credentialAPI/prisma/schema.prisma
  backend/credentialAPI/src/app.module.ts
  backend/credentialAPI/src/credential/credential.controller.ts
  backend/credentialAPI/src/credential/credential.convertor.ts
  backend/credentialAPI/src/credential/credential.module.ts
  backend/credentialAPI/src/credential/credential.service.ts
  backend/credentialAPI/src/credential/index.ts
  backend/credentialAPI/src/exception/catch.exception.ts
  backend/credentialAPI/src/exception/index.ts
  backend/credentialAPI/src/logger/index.ts
  backend/credentialAPI/src/logger/logger.interceptor.ts
  backend/credentialAPI/src/storage/index.ts
  backend/credentialAPI/src/storage/storage.controller.ts
  backend/credentialAPI/src/storage/storage.module.ts
  backend/credentialAPI/src/storage/storage.service.ts
  backend/credentialAPI/tsconfig.json
  backend/credentialAPI/yarn.lock
  backend/protos-ts/credential.proto
  backend/protos-ts/credential/credential.ts
  protos/credential.proto
Labels: enhancement, backend/credential-api

#39 Fix panoramix lint errors
  obelix/panoramix/services/google/client.go
  obelix/panoramix/services/google/credentials.go
  obelix/panoramix/services/register.go
  obelix/panoramix/services/slack/channel.go
Labels: enhancement

#48 Implement /me endpoint
  backend/userAPI/src/user/user.controller.ts
  backend/userAPI/test/postman/User-API-collection.json
Labels: bug, backend/user

#50 Add cors to User API
  backend/userAPI/src/main.ts
Labels: enhancement, backend/user

#59 Rename taskAPI private name
  backend/userAPI/src/task/taskAPI.client.ts
Labels: bug, optional

#65 Update Task action enumeration with new values
  backend/protos-ts/task.proto
  backend/protos-ts/workflow/task.ts
  backend/userAPI/src/task/dto/create-task.dto.ts
  backend/userAPI/src/task/task.type.ts
  backend/userAPI/test/postman/Task-gateway-collection.json
  backend/workflowAPI/prisma/migrations/20220219143000_add_enumeration/migration.sql
  backend/workflowAPI/prisma/schema.prisma
  protos/task.proto
Labels: enhancement, backend/workflow-api

#69 Correctly convert empty params object in Task API gateway
  backend/userAPI/src/util/convertor.ts
  backend/userAPI/test/postman/Task-gateway-collection.json
Labels: enhancement, backend/user

#78 Fix credential insertion to throw error on duplication
  backend/credentialAPI/src/credential/credential.controller.ts
Labels: enhancement, backend/credential-api

#79 Refactor NestJS architecture for OAuthModule
  backend/userAPI/package.json
  backend/userAPI/src/app.module.ts
  backend/userAPI/src/auth/auth.controller.ts
  backend/userAPI/src/auth/auth.module.ts
  backend/userAPI/src/credential/client/credentialAPI.client.ts
  backend/userAPI/src/credential/client/credentialAPIClient.module.ts
  backend/userAPI/src/credential/client/credentialAPIStorage.client.ts
  backend/userAPI/src/credential/credential.controller.ts
  backend/userAPI/src/credential/credential.module.ts
  backend/userAPI/src/credential/index.ts
  backend/userAPI/src/credential/storage.controller.ts
  backend/userAPI/src/oauth/index.ts
  backend/userAPI/src/oauth/oauth.controller.ts
  backend/userAPI/src/oauth/oauth.module.ts
  backend/userAPI/src/task/index.ts
  backend/userAPI/src/task/task.module.ts
  backend/userAPI/src/workflow/workflow.controller.ts
  backend/userAPI/src/workflow/workflow.module.ts
  backend/userAPI/tsconfig.json
Labels: enhancement, backend/user

#81 Add docker idefix
  obelix/idefix/.dockerignore
  obelix/idefix/dockerfile
Labels: obelix/idefix
