Repository Cleopha/ifttt-like, pull requests merged in 2022-03, with the labels that each got.

#86 Make owner optional in ListWorkflowsRequest
  backend/protos-ts/workflow/workflow.ts
Labels: bug, backend/workflow-api

#91 Implement about.json endpoint
  backend/userAPI/src/about/about.controller.ts
  backend/userAPI/src/about/about.module.ts
  backend/userAPI/src/about/about.service.ts
  backend/userAPI/src/about/about.types.ts
  backend/userAPI/src/app.module.ts
Labels: enhancement, backend/user

#90 Add dockerised panoramix
  obelix/panoramix/.dockerignore
  obelix/panoramix/dockerfile
  obelix/panoramix/go.mod
  obelix/panoramix/go.sum
Labels: obelix/panoramix

#94 Implement oauth/login method to register with any oauth service.
  backend/userAPI/src/oauth/dto/login.dto.ts
  backend/userAPI/src/oauth/oauth.controller.ts
  backend/userAPI/src/user/user.controller.ts
Labels: enhancement, backend/user

#101 Add header access-control-allow-header to '*' in userAPI response.
  backend/userAPI/src/main.ts
Labels: bug, backend/user

#105 Improve API documentation
  backend/userAPI/src/about/about.controller.ts
  backend/userAPI/src/app.doc.ts
  backend/userAPI/src/auth/auth.controller.ts
  backend/userAPI/src/auth/auth.currentUser.ts
  backend/userAPI/src/auth/auth.guard.ts
  backend/userAPI/src/auth/ro/register.ro.ts
  backend/userAPI/src/config/config.data.ts
  backend/userAPI/src/credential/credential.controller.ts
  backend/userAPI/src/credential/ro/credential.ro.ts
  backend/userAPI/src/error/db.error.ts
  backend/userAPI/src/logger/logger.module.ts
  backend/userAPI/src/main.ts
  backend/userAPI/src/oauth/oauth.controller.ts
  backend/userAPI/src/prisma/prisma.service.ts
  backend/userAPI/src/redis/redis.module.ts
  backend/userAPI/src/session/session.module.ts
  backend/userAPI/src/task/ro/task.ro.ts
  backend/userAPI/src/task/task.controller.ts
  backend/userAPI/src/user/user.controller.ts
  backend/userAPI/src/workflow/ro/workflow.ro.ts
  backend/userAPI/src/workflow/workflow.controller.ts
Labels: documentation, enhancement, backend/user

#107 fix: ad withcredentials true to dio options for web cookies
  frontend/lib/controllers/api_controller.dart
Labels: bug, frontend

#106 Configure cors from environment
  .env.example
  backend/userAPI/.env.example
  backend/userAPI/src/config/config.data.ts
  backend/userAPI/src/main.ts
  docker-compose.yml
Labels: enhancement, backend/user
